body{
    margin: 0;
    padding: 0;
}

header{
    height: 80%;
    
    

}
header .Logo{
    padding-left: 80px;
}

header nav{
    display: flex;
    margin-top: -1000px;
}

header nav a{
    color: #fff;
    text-transform: none;
    margin: 20px;
    
}

.onglets{
    margin-right: 15px;
}

header .typeOrder{
    float: right;
}

.diffImg a{
    color: #fff;
    float: left;

}
header .paragraphe{
    color: #fff;
}



